headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 2px; /* same as headerbar side padding for nicer proportions */
    margin-bottom: 2px;
}

headerbar {
    min-height: 24px;
    /* max-height: 24px; */ /*this option doesn't appear to work*/
    /*padding-left: 2px; *//* same as childrens vertical margins for nicer proportions */
    /*padding-right: 2px;*/
}
